.actions {
  opacity: 0;
}
.actions span {
  padding: 0 0.2rem;
}
tr:hover .actions {
  opacity: 1;
}

tbody tr:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}
.edit-delete {
  &:hover {
    color: rgb(190, 0, 0) !important;
  }
}
